<ion-view title="Sobre Compresores Servicios C.A.">
<ion-nav-buttons side="left">
<button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
</ion-nav-buttons>
<ion-content class="has-header">

<div class="list card">

	<div class="item item-avatar">
		<img src="img/loguitoCoservica.jpg">
		<h2>Compresores Servicios C.A.</h2>
		<p>01 Febrero 1989</p>
	</div>

	<div class="item item-body">
		<p>
			<h1>Información</h1>

			En compresores Servicios, Por mas de 25 años nuestro compromiso ha sido y sera, ofrecerte las respuestas adecuadas, con el uso de tecnologías innovadoras y amigables al ambiente.

			www.compresoresservicios.com
		</p>
		<img class="full-image" src="img/logoteCoservica.jpg">
		<p>
			<a href="#" class="subdued">412 Like</a>
			<a href="#" class="subdued">42 Comments</a>
		</p>
	</div>

	<div class="item tabs tabs-secondary tabs-icon-left">
		<a class="tab-item" href="#">
			<i class="icon ion-thumbsup"></i>
			Like
		</a>
		<a class="tab-item" href="#">
			<i class="icon ion-chatbox"></i>
			Comment
		</a>
		<a class="tab-item" href="#">
			<i class="icon ion-share"></i>
			Share
		</a>
	</div>

</div>


</div>
</ion-content>
</ion-view>
